{{define "Core_Items"}}
<div class="Items_Container">
    <div class="Items_Header">
        <button class="Weapons">Weapons</button>
        <button class="Armor">Armor</button>
        <button class="Legs">Legs</button>
        <button class="Boots">Boots</button>
        <button class="Accessories">Accessories</button>
        <button class="Other">Other</button>
    </div>
    <div class="Item_Full_Display">
        Displaying items
    </div>
</div>
{{end}}


{{block "Item" .Item}}
<div class="Item">
    <div class="Item_Icon">
        Pic
    </div>
    <div class="Item_Info">
        {{.Name}}
        {{.Stats}}
    </div>
</div>
{{end}}